@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main-container {
  max-width: 1200px;
  margin: auto;
  border: 1px solid wheat;
}
/* HEADER SECTION */
.header {
  width: 100%;
  min-height: 6.4rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}
.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.logo-section {
  display: flex;
  flex: 1;
}
.logo-section h1 {
  flex-grow: 1 0 0;
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.navigator {
  flex: 1;
  display: flex;
}
.navigators {
  list-style: none;
  display: flex;
  flex: 1;
}
.navigators li {
  flex: 1;
}
.navigators li a {
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #4d4545;
  font-weight: 600;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  display: inline-block;
}
.navigators li a:hover {
  background-color: #bb9191;
}
/* MAIN SECTION */
.main-section {
  width: 100%;
  margin-top: 5rem;
}
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero-section h1 {
  font-size: 4rem;
  letter-spacing: -2px;
  line-height: 1.2;
  text-align: center;
}
.hero-section p {
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.2;
  padding: 0 30rem;
  text-align: center;
  color: #635858;
}
.hero-section button {
  border: none;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  letter-spacing: -1px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  background-color: #a5710f;
  color: white;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}
.hero-section button:hover {
  background-color: #6d4905;
}
.hero-image {
  width: 100%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
}
/* IMAGES SECTION */
.images-section {
  width: 100%;
  margin-top: 5rem;
}
.images-text-container {
  width: 100%;
  display: flex;
}
.images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  flex: 1;
}
.images img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.text {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  justify-content: center;
  padding: 0 10rem 0 5rem;
  gap: 1.5rem;
}

.text h1 {
  font-size: 3.5rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.text h1 .grey-text {
  color: #a78585;
}
.text h1 .orange-text {
  color: #a5710f;
}
.text p {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #977e7e;
}
.text button {
  align-self: flex-start;
  padding: 1.5rem 2rem;
  border: none;
  letter-spacing: -1px;
  line-height: 1.5;
  background-color: #a5710f;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e6d6d6;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}
.text button:hover {
  background-color: #6d4905;
}

/* FEATURE SECTION */
.feature-section {
  margin-top: 5rem;
  width: 100%;
  display: flex;
}
.feature-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10rem;
  margin-top: 7.5rem;
}
.feature-text .normal-text h1 {
  border-left: 3px solid #a5710f;
  padding-left: 0.5rem;
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.feature-text .normal-text p {
  margin: 3rem 0;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #a08181;
}
.feature-text .defination-list {
  padding-left: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature-text .defination-list > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.feature-text .defination-list > div dd {
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #a08181;
}
.feature-text .defination-list > div dt {
  font-size: 1.8rem;
  letter-spacing: -2px;
  line-height: 1.5;
  font-weight: 600;
}
.feature-image {
  position: relative;
  width: 50%;
}
.feature-image .image-card {
  text-align: center;
  padding: 2rem;
  position: absolute;
  background-color: #a5710f;
  border-radius: 5px;
  top: 100%;
  right: 100%;
  color: #e6d6d6;
  transform: translate(50%, -50%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.feature-image .image-card h1 {
  font-size: 4.5rem;
  letter-spacing: -2px;
}
.feature-image .image-card span {
  font-size: 2rem;
}
.feature-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .feature-section {
    margin-top: 5rem;
    width: 100%;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
  .feature-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin-top: 0;
  }
  .feature-text .defination-list {
    padding: 0 1rem;
  }
  .feature-text .normal-text p {
    padding: 0 1rem;
  }
  .feature-text .normal-text h1 br {
    display: none;
  }
  .feature-text .normal-text h1 {
    padding: 0 1rem;
  }
  .feature-image {
    position: relative;
    width: 100%;
  }
  .feature-image .image-card {
    top: 100%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

.some-facts {
  margin-top: 15rem;
  width: 100%;
}
.some-facts-text-section {
  width: 100%;
  margin-bottom: 7.5rem;
  margin-left: 2.5rem;
}
.some-facts-text-section h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.some-facts-text-section p {
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.some-facts-card-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5rem;
  gap: 1rem;
}
.some-facts-card-section .card {
  border: 2px solid orangered;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.some-facts-card-section .card h1 {
  font-size: 3.5rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.some-facts-card-section .card p {
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.sponspors-section{
  margin-top: 10rem;
  width: 100%;
}
.sponspors-text-section{
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
}
.sponspors-text-section h1{
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1.5;
}
.sponspors-text-section p{
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.sponspors-icons-section{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 2rem;
  padding: 0 5rem;
}
.sponspors-icons-section .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.sponspors-icons-section .icon img{
  width: 100px;
  filter: grayscale(100%);
}

footer{
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  padding: 10rem 8rem;
}
footer p{
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
  font-weight: 600px;
}
@media screen and (max-width: 576px) {
  .sponspors-icons-section{
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (max-width: 576px) {
  .some-facts-card-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 5rem;
    gap: 1rem;
  }
  .some-facts-text-section {
    width: 100%;
    margin-bottom: 5rem;
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .main-container {
    padding: 0 1rem;
  }
}

/* RESPONSIVE FOR IMAGES SECTION */

@media screen and (max-width: 576px) {
  .images-text-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .text button {
    align-self: center;
  }
  .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    flex: 1;
  }
}

/* RESPONSIVE FOR HERO SECTION */
@media screen and (max-width: 576px) {
  .hero-section p {
    padding: 0px 14rem;
  }
}

/* RESPONSIVE FOR HEADER */
@media screen and (max-width: 576px) {
  .navigators {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .navigators {
    text-align: center;
  }
}
